@use "../util/" as u;

.articles {
  padding: 0 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;

  @include u.breakpoints(xl) {
    flex-direction: row;
  }

  @include u.breakpoints(xxl) {
    padding: 0 6rem;
  }

  &__article {
    display: flex;
    margin-bottom: 2rem;
  }
  &__article:nth-child(2) {
    @include u.breakpoints(xxl) {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  &__article__img {
    height: 100%;
    width: 100px;
    object-fit: cover;
    object-position: center;
  }

  &__article__text {
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    justify-content: space-between;

    @include u.breakpoints(xxxl) {
      font-size: 1.2rem;
    }
  }

  &__article__text__number {
    color: var(--Grayish-blue);
    font-size: 2rem;
    font-weight: 700;
  }

  &__article__text__title {
    font-weight: 800;
    color: var(--Very-dark-blue);
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      color: var(--Soft-red);
    }

    @include u.breakpoints(xxxl) {
      font-size: 1.4rem;
    }
  }
  &__article__text__p {
    color: var(--Dark-grayish-blue);
  }
}
